/* based on https://github.com/astrit/css.gg */

:root {
  --ggs: 4;
}

.gg-play-pause-o {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs));
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.6);
}

.gg-play-pause-o::before {
  content: '';
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 6px;
  height: 8px;
  left: 7px;
  top: 6px;
  border-left: 2px solid;
  border-right: 2px solid;
  color: white;
}

.gg-play-button-o {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 4));
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.6);
}

.gg-play-button-o::before {
  content: '';
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 0;
  height: 8px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 6px solid;
  top: 5px;
  left: 8px;
  color: white;
}
